---
import Layout from "../Layouts/Layout.astro";
import Background from "../components/background.astro";
import BoltIcon from "../components/boltIcon.astro";
import time from "../scripts/time.ts";
---

<Layout title="Home" proxy={true}>
	<main>
		<Background />

		<div id="content">
			<div id="ad-banner">
				<div id="terra-1"></div>
				<script type="text/javascript">
					(function () {
						setTimeout(function () {
							var container = document.getElementById("terra-1");
							if (!container) return;
							atOptions = {
								key: "69b10d3b9c8111006883499edda2a660",
								format: "iframe",
								height: 90,
								width: 728,
								params: {},
							};
							var s = document.createElement("script");
							s.type = "text/javascript";
							s.crossOrigin = "anonymous";
							s.src =
								"https://cutleryneighbouringpurpose.com/69b10d3b9c8111006883499edda2a660/invoke.js";
							container.appendChild(s);
						}, 1000);
					})();
				</script>
			</div>

			<div id="ad-popup" class="hidden">
				<button id="ad-popup-close" aria-label="Close advertisement"
					><svg
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M17 7L7 17M7 7L17 17"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"></path>
					</svg></button
				>
				<div class="ad-tag-popup">Advertisement</div>
				<div id="terra-2"></div>
			</div>

			<div id="top-wrapper">
				<div id="top">
					<h1 id="main-title">Bolt</h1>
					<h2 id="greeting"></h2>
					<h3 id="time">{time}</h3>
				</div>
				<div id="bottom">
					<div id="searchbar">
						<form id="search-form" method="POST">
							<button type="submit">
								<svg
									width="24"
									height="24"
									viewBox="0 0 24 24"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M21 21L15.0001 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"></path>
								</svg>
							</button>
							<input type="text" name="q" placeholder="Search" />
						</form>
					</div>
				</div>
			</div>
			<div id="bottom-wrapper">
				<div id="apps-tooltip" class="tooltip hidden">
					<div class="tooltip-content">
						<p>Click to go home</p>
						<div class="tooltip-buttons">
							<button id="tooltip-ok">OK</button>
							<button id="tooltip-no-show"
								>Don't show again</button
							>
						</div>
					</div>
					<div class="tooltip-arrow"></div>
				</div>
				<div id="app-menu">
					<div id="app-menu-header">
						<h1 id="app-menu-title">Bolt Apps</h1>
					</div>
					<div id="apps-grid"></div>
				</div>
				<div id="taskbar">
					<div id="taskbar-left">
						<div id="app-menu-button"><BoltIcon /></div>
					</div>
					<div id="taskbar-right"></div>
				</div>
			</div>
		</div>
	</main>
	<script src="../scripts/time.ts"></script>
	<script src="../scripts/index.ts"></script>
	<script src="../scripts/global.ts"></script>
	<script src="../scripts/app-menu.ts"></script>
	<script src="../scripts/taskbar.ts"></script>
	<script src="../scripts/tooltip.ts"></script>
	<script src="../scripts/discord.ts"></script>
</Layout>
